<div class="card jua">
  <div class="card-header">
    Supported sites:
  </div>
  <div class="card-body">
    <div class="chip">
      <a routerLink="/">
        <img src="../../assets/supported/yt.png" alt="YouTube" width="96" height="96">
      </a>
      <a class="name" routerLink="/">YouTube</a>
    </div>
    <div class="chip">
      <a routerLink="/facebook">
        <img src="../../assets/supported/fb.png" alt="Facebook" width="96" height="96">
      </a>
      <a class="name" routerLink="/facebook">Facebook</a>
    </div>
    <div class="chip">
      <a routerLink="/vimeo">
        <img src="../../assets/supported/vimeo.png" alt="Person" width="96" height="96">
      </a>
      <a class="name" routerLink="/vimeo">Vimeo</a>
    </div>
    <div class="chip">
      <a routerLink="/daily-motion">
        <img src="../../assets/supported/dm.png" alt="Person" width="96" height="96">
      </a>
      <a class="name" routerLink="/daily-motion">dailymotion</a>
    </div>
    <div class="chip">
      <a routerLink="/instagram">
        <img src="../../assets/supported/insta.png" alt="Person" width="96" height="96">
      </a>
      <a class="name" routerLink="/instagram">Instagram</a>
    </div>
  </div>
</div>