<div class="box jua">
  <div class="row">
    <div class="col-9 input-box highlight">
      <div class="md-form">
        <i class="fa fa-globe prefix"></i>
        <input #input type="text" id="inputIconEx1" class="form-control" placeholder="Enter YouTube Link" (keyup.enter)="download(input)">
      </div>
    </div>
    <div class="col-3 download highlight">
      <button type="button" class="btn red darken-1 waves-light download-button" (click)="download(input)" mdbWavesEffect>
        <div class="heading">
          <i class="fa fa-download" aria-hidden="true"></i>
          <span class="btn-title">Download</span>
        </div>
      </button>
    </div>
  </div>
  <div class="card alert animated shake" *ngIf="urlError">
    <div class="card-body">
      The URL of the video seems to be invalid. Please enter a valid URL or try again later.
    </div>
  </div>
  <loading *ngIf="!urlError && loading"></loading>
  <div *ngIf="video?.on" class="panel highlight animated fadeIn">
    <div class="thumbnail highlight">
      <div class="card z-depth-1">
        <div class="card-body">
          <a target="_blank" href="https://materialtube.firebaseapp.com/watch?v={{video?.id}}">
            <img src="{{video?.thumbnail}}" alt="" width="100%" height="auto">
          </a>
        </div>
      </div>
      <br>
      <div class="title">
        <a target="_blank" href="https://materialtube.firebaseapp.com/watch?v={{video?.id}}">
          <span style="color: #495057">{{ video?.title}}</span>
        </a>
        <br/>
        <span class="duration" style="color:#e53935">Duration</span>
        <span style="color: #495057">: {{ video?.duration }}</span>
      </div>
    </div>
    <div class="download-panel highlight">
      <div class="card mp4" *ngIf="hasmp4">
        <div class="card-header deep-grey">
          Mp4 format
        </div>
        <div class="card-body">
          <a target="_blank" *ngIf="mp43072" download href='{{video?.quality.mp4["3072"][0]}}' class="btn btn-success">3072 P</a>
          <a target="_blank" *ngIf="mp41080" download href='{{video?.quality.mp4["1080"][0]}}' class="btn btn-success">1080 P</a>
          <a target="_blank" *ngIf="mp4720" download href='{{video?.quality.mp4["720"][0]}}' class="btn btn-success">720 P</a>
          <a target="_blank" *ngIf="mp4480" download href='{{video?.quality.mp4["480"][0]}}' class="btn btn-success">480 P</a>
          <a target="_blank" *ngIf="mp4360" download href='{{video?.quality.mp4["360"][0]}}' class="btn btn-success">360 P</a>
          <a target="_blank" *ngIf="mp4240" download href='{{video?.quality.mp4["240"][0]}}' class="btn btn-success">240 P</a>
        </div>
      </div>
      <div class="card audio">
        <div class="card-header deep-grey lighten-1">
          Audio ( CLick to convert and Download )
        </div>
        <a #load target="_blank"></a>
        <div class="card-body">
          <a (click)='convert( video?.id, "320", load )' class="btn btn-info disabled">320 kbps</a>
          <a (click)='convert( video?.id, "256", load )' class="btn btn-info disabled">256 kbps</a>
          <a (click)='convert( video?.id, "128", load )' class="btn btn-info disabled">128 kbps</a>
        </div>
      </div>
      <div class="card subtitle" *ngIf="hassubtitles">
        <div class="card-header deep-grey lighten-1">
          Subtitles ( .srt )
        </div>
        <div class="card-body">
          <a class="btn btn-indigo">eng</a>
        </div>
      </div>
      <div class="card webm" *ngIf="haswebm">
        <div class="card-header deep-grey">
          Webm format
        </div>
        <div class="card-body">
          <a target="_blank" *ngIf="webm1080" href='{{video?.quality.webm["1080"][0]}}' class="btn btn-success">1080 P</a>
          <a target="_blank" *ngIf="webm720" href='{{video?.quality.webm["720"][0]}}' class="btn btn-success">720 P</a>
          <a target="_blank" *ngIf="webm480" href='{{video?.quality.webm["480"][0]}}' class="btn btn-success">480 P</a>
          <a target="_blank" *ngIf="webm360" href='{{video?.quality.webm["360"][0]}}' class="btn btn-success">360 P</a>
          <a target="_blank" *ngIf="webm240" href='{{video?.quality.webm["240"][0]}}' class="btn btn-success">240 P</a>
        </div>
      </div>
      <div class="card mp4-no-audio" *ngIf="hasnoaudiomp4">
        <div class="card-header deep-grey">
          <span>
            Mp4 ( No Audio )
            <img src="../../assets/images/mute.png" width="3%" height="3%" alt="">
          </span>
        </div>
        <div class="card-body">
          <a target="_blank" *ngIf="noaudiomp42160" href='{{video?.noaudio.mp4["2160"][0]}}' class="btn btn-success">2160 P</a>
          <a target="_blank" *ngIf="noaudiomp41440" href='{{video?.noaudio.mp4["1440"][0]}}' class="btn btn-success">1440 P</a>
          <a target="_blank" *ngIf="noaudiomp41080" href='{{video?.noaudio.mp4["1080"][0]}}' class="btn btn-success">1080 P</a>
          <a target="_blank" *ngIf="noaudiomp4720" href='{{video?.noaudio.mp4["720"][0]}}' class="btn btn-success">720 P</a>
          <a target="_blank" *ngIf="noaudiomp4480" href='{{video?.noaudio.mp4["480"][0]}}' class="btn btn-success">480 P</a>
          <a target="_blank" *ngIf="noaudiomp4360" href='{{video?.noaudio.mp4["360"][0]}}' class="btn btn-success">360 P</a>
          <a target="_blank" *ngIf="noaudiomp4240" href='{{video?.noaudio.mp4["240"][0]}}' class="btn btn-success">240 P</a>
          <a target="_blank" *ngIf="noaudiomp4140" href='{{video?.noaudio.mp4["140"][0]}}' class="btn btn-success">140 P</a>
        </div>
      </div>
      <div class="card webm-no-audio" *ngIf="hasnoaudiowebm">
        <div class="card-header deep-grey">
          <span>
            Webm ( No Audio )
            <img src="../../assets/images/mute.png" width="3%" height="3%" alt="">
          </span>
        </div>
        <div class="card-body">
          <a target="_blank" *ngIf="noaudiowebm3072" href='{{video?.noaudio.webm["3072"][0]}}' class="btn btn-success">3072 P</a>
          <a target="_blank" *ngIf="noaudiowebm1080" href='{{video?.noaudio.webm["1080"][0]}}' class="btn btn-success">1080 P</a>
          <a target="_blank" *ngIf="noaudiowebm720" href='{{video?.noaudio.webm["720"][0]}}' class="btn btn-success">720 P</a>
          <a target="_blank" *ngIf="noaudiowebm480" href='{{video?.noaudio.webm["480"][0]}}' class="btn btn-success">480 P</a>
          <a target="_blank" *ngIf="noaudiowebm360" href='{{video?.noaudio.webm["360"][0]}}' class="btn btn-success">360 P</a>
          <a target="_blank" *ngIf="noaudiowebm240" href='{{video?.noaudio.webm["240"][0]}}' class="btn btn-success">240 P</a>
        </div>
      </div>
      <div class="card flv" *ngIf="hasflv">
        <div class="card-header deep-grey">
          Flv format
        </div>
        <div class="card-body">
          <a target="_blank" *ngIf="flv1080" href='{{video?.quality.flv["1080"][0]}}' class="btn btn-success">1080 P</a>
          <a target="_blank" *ngIf="flv720" href='{{video?.quality.flv["720"][0]}}' class="btn btn-success">720 P</a>
          <a target="_blank" *ngIf="flv480" href='{{video?.quality.flv["480"][0]}}' class="btn btn-success">480 P</a>
          <a target="_blank" *ngIf="flv360" href='{{video?.quality.flv["360"][0]}}' class="btn btn-success">360 P</a>
          <a target="_blank" *ngIf="flv240" href='{{video?.quality.flv["240"][0]}}' class="btn btn-success">240 P</a>
        </div>
      </div>
      <div class="card 3gp" *ngIf="hasgpp">
        <div class="card-header deep-grey lighten-1">
          3gp format
        </div>
        <div class="card-body">
          <a target="_blank" *ngIf="gpp240" href='{{video?.quality["3gp"]["240"][0]}}' class="btn btn-success">240 P</a>
          <a target="_blank" *ngIf="gpp180" href='{{video?.quality["3gp"]["180"][0]}}' class="btn btn-success">180 P</a>
          <a target="_blank" *ngIf="gpp144" href='{{video?.quality["3gp"]["144"][0]}}' class="btn btn-success">144 P</a>
        </div>
      </div>
    </div>
  </div>

</div>